# Obj file
*.o
*.plg
*.tra
*.axf
*.crf
*.d
*.html
*.lnp
*.map
*.dep
*.__i
*.htm

# Other type of project
EWARM/
RIDE/
TASKING/
TrueSTUDIO/

# ignore sourceinsight file
sf/

# ignore the Hex file
*.hex

# ignore the pdf file
*.pdf

